.auth-info {
	width: 400px;
	height: 460;
}

.auth-container {
	display: flex;
	justify-content: center;
	background-size: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align: middle;
	margin-top: 40px;
}

.auth-info-title {
	font-size: 48px;
	letter-spacing: -0.015em;
	color: #fff;
	margin-top: 76px;
	margin-left: 38px;
}

.auth-info-subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: -0.015em;
	color: #f2f2f2;
	margin-top: 19px;
	margin-bottom: 50px;
	margin-left: 38px;
}

.main-image {
	width: 380px;
	height: 264px;
}

.auth-content {
	background: #6c6c6c;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-left: 110px;
}

@media (max-width: 1200px) {
	.auth-info {
		display: none;
	}
	.auth-content {
		margin-left: 0;
	}
}

@media (max-width: 320px) {
	.auth-container {
		display: block;
	}

	.auth-content {
		margin-left: 0;
	}
}
