.auth-card {
	padding: 60px 16px 80px 16px;
	border-radius: 4px !important;
	width: 100%;
}

.auth-card-title {
	text-transform: uppercase;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #fff;
	font-weight: normal;
}

@media (min-width: 576px) {
	.auth-card {
		width: 480px;
		padding: 95px 50px 130px 50px;
	}
}
