.login-form {
}

.input-base {
	background: #fefefe;
	border: 1px solid #fefefe;
	box-sizing: border-box;
	border-radius: 10px;
	margin-top: 30px;
	width: 100%;
	border: none;
	height: 50px;
	padding: 10px 20px 10px 20px;
	color: #9e9e9e;

	::placeholder {
		color: #9e9e9e;
	}
}

.input-base:focus {
	outline: none;
}

.login-link-recover {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.015em;
	color: #407bff;
	margin-top: 15px;
	display: block;
}

.login-link-register {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: -0.015em;
	text-decoration-line: underline;
	color: #fff;
	margin-left: 10px;
}

.login-submit {
	margin-top: 74px;
	margin-bottom: 35px;
}

.not-registered {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #fff;
}
