.container-form-list-reaviews {
	margin-bottom: 16px;

	svg {
		margin-right: 15px;
		margin-top: -4px;
	}

	.username-review {
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: -0.015em;
		color: #ffffff;
	}

	.description-review {
		border: 1px solid #e1e1e1;
		box-sizing: border-box;
		border-radius: 8px;
		margin: 5px 0 10px 0;
		padding: 15px 20px 15px 20px;

		span {
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			text-align: justify;
			letter-spacing: -0.015em;
			color: #9e9e9e;
		}
	}
}
