$theme-colors: (
	"primary": #f5c518,
	"secondary": #000,
	"danger": #df5753
);

$body-bg: #525252;
$body-color: #fff;

$container-max-widths: (
	sm: 100%,
	md: 100%,
	lg: 100%,
	xl: 100%,
	xxl: 1144px // 24px a mais pra compensar o padding do container
);

@import "../../../node_modules/bootstrap/scss/bootstrap";
